/********** Template CSS **********/
:root {
    --primary: #06A3DA;
    --secondary: #F57E57;
    --light: #EEF9FF;
    --dark: #091E3E;
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
    font-weight: 500 !important;
}

.btn {
    font-family: 'Jost', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
}

.btn-primary:hover {
    background: var(--secondary);
    border-color: var(--secondary);
}

.btn-secondary:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.top-shape::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 100%;
    top: 0;
    left: -17px;
    background: var(--primary);
    transform: skew(40deg);
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Jost', sans-serif;
    padding: 35px 15px;
    font-size: 18px;
    color: var(--dark);
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 15px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(118, 166, 218, 0.35);
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 800 !important;
    }

    .carousel-caption h1 {
        font-size: 20px;
        font-weight: 400 !important;
    }

}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (min-width: 991.98px) {
    .banner {
        position: relative;
        margin-top: -90px;
        z-index: 1;
    }
}

.section-title h5::before {
    position: absolute;
    /* content: ""; */
    width: 45px;
    height: 3px;
    right: -55px;
    bottom: 11px;
    background: var(--primary);
}

/* .section-title h5::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 3px;
    right: -75px;
    bottom: 11px;
    background: var(--secondary);
} */

.twentytwenty-wrapper {
    height: 100%;
}

.hero-header {
    background: linear-gradient(rgba(9, 30, 62, .85), rgba(9, 30, 62, .85)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.bg-appointment {
    background: linear-gradient(rgba(9, 30, 62, .85), rgba(9, 30, 62, .85)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.appointment-form {
    background: rgba(6, 163, 218, .7);
}

.service-item img,
.service-item .bg-light,
.service-item .bg-light h5,
.team-item .team-text {
    transition: .5s;
}

.service-item:hover img {
    transform: scale(1.15);
}

.team-item .team-text::after,
.service-item .bg-light::after {
    position: absolute;
    content: "";
    top: 50%;
    bottom: 0;
    left: 15px;
    right: 15px;
    border-radius:100px / 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .7);
    opacity: 0;
    transition: .5s;
    z-index: -1;
}

.team-item:hover .team-text::after,
.service-item:hover .bg-light::after {
    opacity: 1;
}

.bg-offer {
    background:url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.offer-text {
    background: rgba(6, 163, 218, .85);
}

.price-carousel .owl-nav {
    position: absolute;
    width: calc(100% + 45px);
    height: 45px;
    top: calc(50% - 22.5px);
    left: -22.5px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: .5s;
}

.price-carousel:hover .owl-nav {
    opacity: 1;
}

.price-carousel .owl-nav .owl-prev,
.price-carousel .owl-nav .owl-next {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: var(--primary);
    border-radius: 2px;
    font-size: 22px;
    transition: .5s;
}

.price-carousel .owl-nav .owl-prev:hover,
.price-carousel .owl-nav .owl-next:hover {
    background: var(--secondary);
}

#newsEvent {
  height: 800px;
} 

.bg-testimonial {
    background: url(../img/lunch.jpg) center center no-repeat;
    background-size: cover;
    opacity: 0.8;
    height: 400px;
}


.nae{
    background: hsla(200, 100%, 60%, 0.85);
    margin: 0 auto;
    text-align: center;
    font-size: 8px;
    width: 80%;
    padding: 20px;
    
}

.btn-secondary1 {
    color: #FFFFFF;
}

.btn-secondary1 {
    background: var(--secondary);
    border-color: var(--secondary);
}

.btn-secondary1:hover {

    background: #fd8962;
    border-color: #fd8962;
}

.pdf {
    width: 100%;
    padding: 30px;
    background: var(--primary);
}

.partner {
  height: 580px;
}

#contactPartner {
  float: right;
}
#sizeToBig {
  font-size: 12px;
}

.pp-gallery {
    min-height: 500px; }
    .pp-gallery .card-columns .card {
      border: none;
      margin-bottom: 0;
      border-radius: none; }
    @media (max-width: 2000px) {
      .pp-gallery .card-columns {
        -moz-column-count: 3;
             column-count: 3; } 
            }

    @media (max-width: 1000px) {
      .pp-gallery .card-columns {
        -moz-column-count: 1;
             column-count: 1; } 
             #newsEvent {
              height: 1400px;
            } }
    .pp-gallery .card figure {
      position: relative;
      overflow: hidden;
      margin: 10px 1%;
      text-align: center; }
    .pp-gallery .card figure img {
      position: relative;
      display: block;
      max-width: 100%;
      opacity: 1; }
    .pp-gallery .card figure figcaption {
      padding: 2em;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.25em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .pp-gallery .card figure figcaption,
    .pp-gallery .card figure figcaption > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
    .pp-gallery .card figure figcaption > a {
      z-index: 1000;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0; }
    .pp-gallery .card figure .h4 {
      word-spacing: -0.15em;
      font-weight: 600; }
    .pp-gallery .card figure .h4,
    .pp-gallery .card figure p {
      margin: 0; }
    .pp-gallery .card figure p {
      letter-spacing: 1px;
      font-size: 60%; }
    .pp-gallery figure.pp-effect figcaption {
      padding: 12px; }
    .pp-gallery figure.pp-effect figcaption::before,
    .pp-gallery figure.pp-effect figcaption::after {
      position: absolute;
      content: '';
      opacity: 0; }
    .pp-gallery figure.pp-effect figcaption::before {
      top: 50px;
      right: 30px;
      bottom: 50px;
      left: 30px;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: scale(0, 1);
      transform-origin: 0 0; }
    .pp-gallery figure.pp-effect figcaption::after {
      top: 30px;
      right: 50px;
      bottom: 30px;
      left: 50px;
      border-right: 1px solid #fff;
      border-left: 1px solid #fff;
      transform: scale(1, 0);
      transform-origin: 100% 0; }
    .pp-gallery figure.pp-effect .h4 {
      padding-top: 26%;
      transition: transform 0.35s;
      opacity: 0; }
    .pp-gallery figure.pp-effect p {
      padding: 0.5em 2em;
      text-transform: none;
      opacity: 0;
      transform: translate3d(0, -10px, 0); }
    .pp-gallery figure.pp-effect img,
    .pp-gallery figure.pp-effect .h4 {
      transform: translate3d(0, -25px, 0); }
    .pp-gallery figure.pp-effect img,
    .pp-gallery figure.pp-effect figcaption::before,
    .pp-gallery figure.pp-effect figcaption::after,
    .pp-gallery figure.pp-effect p {
      transition: opacity 0.35s, transform 0.35s; }
    .pp-gallery figure.pp-effect:hover img {
      opacity: 1;
      transform: translate3d(0, 0, 0); }
    .pp-gallery figure.pp-effect:hover figcaption::before,
    .pp-gallery figure.pp-effect:hover figcaption::after {
      opacity: 1;
      transform: scale(1); }
    .pp-gallery figure.pp-effect:hover figcaption:before {
      background: rgba(31, 30, 30, 0.5); }
    .pp-gallery figure.pp-effect:hover .h4,
    .pp-gallery figure.pp-effect:hover p {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      color: #FFFFFF; }
    .pp-gallery figure.pp-effect:hover figcaption::after,
    .pp-gallery figure.pp-effect:hover .h4,
    .pp-gallery figure.pp-effect:hover p,
    .pp-gallery figure.pp-effect:hover img {
      transition-delay: 0.15s; }
    @media (max-width: 768px) and (min-width: 578px) {
      .pp-gallery figure.pp-effect:hover .h4 {
        padding-top: 20%;
        font-size: 16px; } 

      }
    @media (max-width: 375px) {
      .pp-gallery figure.pp-effect:hover .h4 {
        padding-top: 20%;
        font-size: 16px; } 
        }

